PORT=3000
HOST=0.0.0.0
DB_HOST=
DB_PORT=5432
DB_NAME=pmic_db
DB_USER=
DB_PASSWORD=
MAX_DIMENSION=800
MAX_URLS=300
STORAGE_DOWNLOADS=./storage/downloads
STORAGE_RESIZED=./storage/resized
STORAGE_CONVERTED=./storage/converted
STORAGE_WATERMARKED=./storage/watermarked